@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css');
p {
    font-family: 'Monoton', cursive;
}

.btn {
    background-color: #00ffe5;
    border-radius: 60px;
    color: white;
}

.quotefrm {
    background: white;
    border-radius: 60px;
}

html,
body {
    height: 100%;
}

.frm {
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

h3 {
    font-family: 'Monoton', cursive;
}